[submodule "src/Enumerations/Enums/MimeTypes/Generator/MimeTypeMap"]
    path = src/Enumerations/Enums/MimeTypes/Generator/MimeTypeMap
    url = https://github.com/samuelneff/MimeTypeMap.git
[submodule "src/Enumerations/SmartEnum"]
	path = src/Enumerations/SmartEnum
	url = https://github.com/ardalis/SmartEnum.git
